
<div class="container-fluid">
  <div class="row">
    <div class="col-3 nav-link nav-fill menu-item">
            <a  class="menu-link" routerLink='/login'> Login </a>
    </div>
    <div class="col-3 nav-link nav-fill menu-item">
      <a class="menu-link" routerLink='/register'> Sign Up  </a>
    </div>
    <div class="col-3 nav-link menu-item">
      <a class="menu-link" routerLink='/courses'> CourseNavigator </a>
    </div>
    <div  class="col-3 nav-link menu-item">
      <a  class="menu-link" routerLink='/profile'> Profile </a>
    </div>

    </div>
  </div>
<router-outlet></router-outlet>
